body {
    font-family:sans-serif;
    font-size:13px;
    margin: 1em 1em 5em 1em;
}

a:link, a:visited {
    color:#555555;
    font-weight:bold;
    text-decoration:none;
}

a:hover, a:active {
    color:#888888;
    font-weight:bold;
    text-decoration:none;
}

h1 {
    font-size:1.8em;
    margin:0.3em 0 0.3em;
}

h2 {
    font-size:1.5em;
    margin:0.3em 0 0.3em;
}

h3 {
    font-size:1.2em;
    margin:0.3em 0 0.3em;
}

ul.menu {
  list-style: none;
  margin:0;
  padding:0;
}

li.menu {
  display: inline;
  padding:0;
  margin:0 0.8em 0 0;
}

textarea {
    font-size:11px;
    font-family:monospace;
    width:100%;
    height:30em;
    margin:0px;
    padding:5px;
    border:none;
    resize:none;
    box-sizing:border-box;
}

input.text, select.text {
    width:30%;
}

form {
    width:60%;
    padding:0.5em 1em 1em 1em;
}

p.input {
    height:1.6em;
    margin:0.3em 0 0.3em 0;
}   

label.inputlabel {
    min-width:15%;
    height:100%;
    line-height:1.6em;
    float:left;
}

select.text, input.text {
    padding-right:3px;
}

input.text, select.text {
    font-size:11px;
}

p.framed {
    padding:0.5em;
}

form, input.text, select.text, textarea, .framed {
    border:1px solid #ccccdd;
    border-radius:4px;
    background:#ffffff;
}

input:focus, select:focus, textarea:focus {
    outline:none;
}

input.text:focus, select.text:focus, textarea.text:focus {
    border:1px solid #ccccff;
    background:#f7f7ff;
}


@font-face {
    font-family:isabelletext;
    src:url('../isabelletext.ttf') format("truetype");
    unicode-range:U+0-FFFFFFFF;
}

pre, code {
    font-family:isabelletext,monospace;
    font-size:11px;
    line-height:15px;
}

pre {
    border:1px solid #ccccdd;
    border-radius:4px;
    background:#f7f7ff;
    padding: 6px 6px 6px 0;
    overflow:hidden;
}

sup {
    vertical-align: top;
    font-size: 0.4em;
    position: relative;
    top: -0.4em;
}

sub {
    vertical-align: bottom;
    font-size: 0.4em;
    position: relative;
    bottom: -0.4em;
}

pre {
    margin: 0.5em 0.5em 1em 0.5em;
	counter-reset: linecounter;
}

span.line:before {
	counter-increment: linecounter;
    font-family: monospace;
    font-size: 8px;
    color: #666666;
	content: counter(linecounter);
	padding-right:0.4em;
	margin-left:0.2em;
	margin-right:0.5em;
	display: inline-block;
	text-align:right;
	border-right: 1px solid #ccccdd;
	vertical-align: top;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
